# Arquivos compilados do Java
*.class

# Pastas de compilação
bin/
out/
target/
build/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Arquivos do Windows
Thumbs.db
Desktop.ini

# Logs
*.log